apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: restaurant-POS
spec:
  selector:
    app: frontend
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
  type: LoadBalancer # Exposes to internet
